<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.jikewang.dao.CompanyDao">

    <sql id="base_Column">
        `id`,`name`,`number`,`score`,`add_time`
    </sql>

    <insert id="saveCompany" parameterType="company" keyProperty="id">
        INSERT INTO `company`(`name`,`number`,`add_time`)
        VALUES (#{name}, #{number},now())
    </insert>

    <delete id="deleteCompany" parameterType="int">
        DELETE FROM `company` WHERE `id` = #{_parameter}
    </delete>

    <select id="listCompanies" parameterType="page" resultType="company">
        SELECT
        <include refid="base_Column"/>
        FROM `company`
    </select>

    <select id="listCompaniesByName" parameterType="page" resultType="company">
        SELECT
        <include refid="base_Column"/>
        FROM `company` WHERE `name` LIKE #{object}"%"
    </select>

    <select id="getCompany" parameterType="int" resultType="company">
        SELECT
        <include refid="base_Column"/>
        FROM `company`
        WHERE `id`= #{_parameter}
    </select>

    <update id="updateCompany" parameterType="company">
        UPDATE `company`
        <trim prefix="set" suffixOverrides=",">
            id = #{id},
            <if test="name!=null">`name`=#{name},</if>
            <if test="number!=0">`number`=#{number},</if>
            <if test="score!=0">`score`=#{score},</if>
        </trim>
        WHERE `id`= #{id}
    </update>
</mapper>