<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.jikewang.dao.StudentClassDao">
    <!--<cache type="org.mybatis.caches.memcached.MemcachedCache" />-->
    <sql id="base_Column">
        `id`,`class_id`,`user_id`,`type`,`score`,`teacher_score`
    </sql>
    <sql id="base_query">
       SELECT `studentclass`.`id`,`studentclass`.`class_id`,`studentclass`.`user_id`,`studentclass`.`type`,`studentclass`.`score`,
`studentclass`.`teacher_score`,`user`.`userName`
FROM `studentclass`, `user`
WHERE `user`.`userId` = `studentclass`.`user_id`
    </sql>

    <insert id="saveStudentClass" parameterType="studentClass">
        INSERT INTO `studentclass`(`class_id`,`user_id`)
        VALUES (#{classId}, #{userId})
    </insert>

    <delete id="deleteStudentClass" parameterType="int">
        DELETE FROM `studentclass` WHERE `id` = #{_parameter}
    </delete>

    <select id="listStudentClasses" parameterType="page" resultType="studentClass">
        <include refid="base_query"/>
    </select>

    <select id="listStudentClassesByClassId" parameterType="page" resultType="studentClass">
        <include refid="base_query"/>
        AND `studentclass`.`class_id` = #{object}
    </select>

    <select id="getStudentClass" parameterType="int" resultType="studentClass">
        <include refid="base_query"/>
        AND `studentclass`.`id`= #{_parameter}
    </select>

    <select id="getStudentClassByUserId" parameterType="String" resultType="studentClass">
        <include refid="base_query"/>
        AND `studentclass`.`user_id`= #{_parameter}
    </select>

    <update id="updateStudentClass" parameterType="studentClass">
        UPDATE `studentclass`
        <trim prefix="set" suffixOverrides=",">
            id = #{id},
            <if test="type!=null">`type`=#{type},</if>
            <if test="score!=null">`score`=#{score},</if>
            <if test="teacherScore!=null">`teacher_score`=#{teacherScore},</if>
        </trim>
        WHERE `id`= #{id}
    </update>
</mapper>