<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.jikewang.dao.UserCompanyDao">
    <!--<cache type="org.mybatis.caches.memcached.LoggingMemcachedCache"/>-->
    <sql id="base_query">
SELECT `usercompany`.`id`,
        `usercompany`.`company_id`,
        `usercompany`.`user_id`,
        `usercompany`.`position`,
         `usercompany`.`score`,
        company.`name` AS company_name,
        company.`number`,
        company.is_scored
FROM `usercompany` ,`company`
WHERE `usercompany`.company_id=`company`.id
    </sql>

    <!--<resultMap id="classNum" type="studio.jikewang.dto.ClassNum">-->
    <!--<result column="cls" jdbcType="VARCHAR" property="cls"/>-->
    <!--<result column="num" javaType="Integer" property="num"/>-->
    <!--</resultMap>-->

    <insert id="saveUserCompany" parameterType="userCompany" flushCache="false">
        INSERT INTO `usercompany`(`company_id`,`user_id`,`position`)
        VALUES (#{companyId}, #{userId},#{position})
    </insert>

    <delete id="deleteUserCompany" parameterType="int" flushCache="false">
        DELETE FROM `usercompany` WHERE `id` = #{_parameter}
    </delete>

    <delete id="deleteAllUserCompany" parameterType="int">
        DELETE FROM `usercompany` WHERE `company_id` = #{_parameter}
    </delete>

    <select id="listUserCompanies" parameterType="page" resultType="userInfo">
          <include refid="base_query"/>
    </select>

    <select id="listUserCompaniesByCompanyId" parameterType="page" resultType="userInfo">
        <include refid="base_query"/> AND `company_id` = #{object}
    </select>
    <select id="listUserCompaniesByUserId" parameterType="page" resultType="userInfo">
        <include refid="base_query"/> AND `user_id` = #{object}
    </select>
    <select id="getUserCompany" parameterType="int" resultType="userInfo">
        <include refid="base_query"/>  AND `usercompany`.id = #{_parameter}
    </select>
    <select id="getClassNumByUserId" parameterType="String" resultType="classNum" flushCache="false">
        SELECT cls,COUNT(*) AS num FROM `usercompany`,`user` WHERE `user`.userId = usercompany.user_id
        AND cls = (
        SELECT cls FROM `user` WHERE userId = #{_parameter}
        )
    </select>
    <update id="updateUserCompany" parameterType="userCompany">
        UPDATE `usercompany`
        <trim prefix="set" suffixOverrides=",">
            id = #{id},
            <if test="position!=null">`position`=#{position},</if>
            <if test="score!=0">`score`= `score` + #{score}</if>
        </trim>
        WHERE `id`= #{id}
    </update>
</mapper>